<div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="https://github.com/verri/jules">View on GitHub</a>

      <h1 id="project_title">{{ site.name }}</h1>
      <h2 id="project_tagline">{{ site.description }}</h2>
    </header>
</div>

<section class="outer">
    <div class="downloads inner">
      <a href="/jules/index.html">Home</a>
      <a href="/jules/tutorial.html">Tutorial</a>
      <a href="/jules/standardese_modules.html">Modules</a>
      <a href="/jules/standardese_entities.html">Entities</a>
      <a href="/jules/standardese_files.html">Files</a>
    </div>
</section>
